{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap %}


{% block content%}

<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {
        'packages':['geochart'],
        // Note: you will need to get a mapsApiKey for your project.
        // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
        'mapsApiKey': 'AIzaSyD-9tSrke72PouQMnMX-a7eZSW0jkFMBWY'
      });
      google.charts.setOnLoadCallback(drawMarkersMap);


      function drawMarkersMap() {
        var data = google.visualization.arrayToDataTable([
          ['City', 'Temperature'],
          ['Belgrade', {{beograd}}],
          ['Cacak', {{cacak}}],
          ['Smederevo', {{smederevo}}],
          ['Kraljevo', {{kraljevo}}],
          ['Nis', {{nis}}],
          ['Novi Sad', {{novisad}}],
          ['Subotica', {{subotica}}],
          ['Zlatibor', {{zlatibor}}],
          ['Kopaonik', {{kopaonik}}],
        ]);

        var options = {
                sizeAxis: { minValue: 0, maxValue: 20 },
                region: 'RS',
                displayMode: 'markers',
                colorAxis: {colors: ['blue', 'red']},
                //backgroundColor: '#81d4fa',
                defaultColor: 'red',
      };

        var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

        chart.draw(data, options);
      }
    </script>
  </head>
  <body>



  <div class="container">
    <h1>Temperature in different parts of Serbia:</h1>
    <div id="regions_div" style="width: 700px; height: 400px;"></div>
    <br><br>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  </div>





  </body>
</html>


{% endblock%}
